@model dynamic

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <p>@ViewBag.Message</p>
    <p>=> MVC khong kho</p>
</div>
</body>
</html>