@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p><a asp-controller="Hello" asp-action="Index">Hello</a></p>
    <p><a asp-controller="Catalog" asp-action="Index">Catalog</a></p>
    <p><a asp-controller="Product" asp-action="Index">Product</a></p>
</div>